body {
    background-image: linear-gradient(red 30%, yellow 60%);
}


.container {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    width: 400px;
    height: 23px;
    border: 2px solid orangered;
    border-radius: 3px;
    background-color: rgba(10,0,0,0.2);
}

#resultsDropdown {
    display: none;
    position: absolute;
    border: 1px solid #ff0000;
    background-color: #e97110;
    max-height: 150px;
    overflow-y: auto;
    width: 402px;
    z-index: 1;
  }

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
  }
  

.dropdown-item:hover {
    background-color: #cebb12;
  }